.videosection {
    background-color: rgb(70, 70, 70);
    height:570px;
}

.videosection video {
    position: absolute;
}

.videosection canvas {
    position: absolute;
    transform: rotateY(180deg);
}